*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
    position: relative;
}

/******** HEADER & FOOTER ********/

header, footer{
    clear: both;
    width: 100%;
    height: 30vh;
    border: 1px solid #fff;
    background-color: #46a925;
}

header h2, footer h2{
    position: relative;
    top: 125px;
    bottom: 125px;

}
/******** /HEADER & FOOTER ********/

.container{
    clear: both;
}

.box h2{
    position: relative;
    top: 150px;
    bottom: 150px;
}

.box{
    border: 1px solid #fff;
    height: 40vh;
    float: left;
    width: 33.3%;
}

.left{
    text-align: middle;
    background-color: #ae44ae9b;
}

.middle{
    background-color: #fdad008b;
}


.right{
    background-color: #ae44ae9b;
}

/* div{
    display: flex;
    align-items: center;
    justify-content: center;
} */

/*-------- Large Devices Only -------*/

@media (min-width: 1224px){
    .col-lg-4{
        float: left;
        width: 33.3%;
    }

}
/*-------- /Large Devices Only -------*/


/*------- Medium Devices Only -------*/

@media (min-width: 992px) and (max-width: 1223px) {
    .col-md-4{
        float: left;
        width: 33.3%;
    }
    body{
        font-size: .5em;
    }
}
/*------- /Medium Devices Only -------*/


/*------- Small Devices Only -------*/

@media (min-width: 424px) and (max-width: 991px) {
    .col-sm-4{
        float: left;
        width: 33.3%;
    }

    .col-sm-12{
        float: left;
        width: 100%;
    }

    body{
        font-size: .8em;
    }
}

/*------- /Small Devices Only -------*/


/*------- EXTRA-Small Devices Only -------*/
@media (max-width: 423px){
    .col-xs-4{
        float: left;
        width: 33.3%;
    }

    .col-xs-12{
        float: left;
        width: 100%;
    }
    
    body{
        font-size: .5em;
    }

}

/*-------/EXTRA-Small Devices Only -------*/